@layer reset, abstracts, globals, page;

@import url('reset.css') layer(reset);
@import url('variables.css') layer(abstracts);
@import url('fonts.css') layer(globals);
@import url('globals.css') layer(globals);

/* .col1 {width: 8.3%;}
.col2 {width: 16.6%;}
.col3 {width: 25%;}
.col4 {width: 33.3%;}
.col5 {width: 41.6%;}
.col6 {width: 50%;}
.col7 {width: 58.3%;}
.col8 {width: 66.6%;}
.col9 {width: 75%;}
.col10 {width: 83.3%;}
.col11 {width: 91.6%;}
.col12 {width: 100%; max-width: 1080px;} */

/* .left3col {margin-left: 243px;}
.left2col {margin-left: 150px;}
.left1col {margin-left: 57px;}
.right1col {margin-right: 57px;}
.right2col {margin-right: 150px;} */
@layer page {
	html {
		font-size: 62.5%; /* 1em = 10px */
		background-color: var(--color-bg);
		background-image: url(img/blue-flow.svg);
		background-repeat: no-repeat;
		background-position: top center;
		background-size: auto 100%;
		overflow-x: hidden;
	}

	body {
		font-family: var(--ff-lato);
		font-size: var(--fz-body);
		font-weight: var(--fw-light);
		color: var(--color-text);
	}

	.header {
		padding: 3rem var(--page-margin) 3.5rem;
		margin: var(--section-space) 0;
		background: #fff;
	}

	.header__container {
		max-width: var(--max-width);
		margin: 0 auto;
	}

	.header__title {
		font-family: var(--ff-roboto);
		font-weight: var(--fw-thin);
		font-size: var(--fz-1);
		text-align: center;
		margin-bottom: 3rem;
	}

	.header__subtitle {
		font-size: var(--fz-3);
		font-weight: var(--fw-black);
		text-align: center;
		color: #37b7ec;
		margin-bottom: 3rem;
	}

	.header__infos {
		margin: 0 auto;
	}

	.header__infos__author {
		font-size: var(--fz-3);
		font-weight: var(--fw-light);
		text-align: right;
	}

	.header__infos__date {
		font-size: clamp(1.4rem, calc(1.127rem + 0.727vw), 2rem);
		font-weight: var(--fw-thin);
		text-align: right;
	}

	.main {
		margin: 0 var(--page-margin);
	}

	.section {
		margin-bottom: var(--section-space);
	}

	.section__title {
		font-size: var(--fz-2);
		font-weight: var(--fw-black);
		margin-bottom: var(--title-space);
	}

	.text-container {
		padding: var(--box-padding);
		background: var(--color-white);

		p {
			line-height: 1.8;
			margin-bottom: var(--box-padding);

			&:last-child {
				margin-bottom: 0;
			}
		}

		&.bold p {
			font-weight: var(--fw-bold);
		}
	}

	.image-container {
		background: #fff;

		.screenshot {
			margin-right: 36px;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	.screenshot {
		max-width: 100px;
		box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.35);
		z-index: 5;
	}

	.step {
		margin: var(--title-space) auto;

		&.step--default {
			/* display: flex;
			align-items: center; */
		}

		&.step--hamburger1 .image-container {
			height: 597px;
		}

		&.step--pisa .image-container,
		&.step--hamburger2 .image-container {
			height: 432px;
		}
	}

	.footer {
		padding: var(--box-padding) 0;
		margin: var(--section-space) 0 0;
		background: var(--color-white);

		p {
			display: block;
			width: 100%;
			font-family: var(--ff-roboto);
			font-size: var(--fz-xsmall);
			font-weight: var(--fw-bold);
			text-align: center;
		}
	}
}
