@layer reset, abstracts, globals, page;

@import url('reset.css') layer(reset);
@import url('variables.css') layer(abstracts);
@import url('fonts.css') layer(globals);
@import url('globals.css') layer(globals);

@layer page {
	html {
		background-color: var(--color-bg);
		background-image: url(img/blue-flow.svg);
		background-repeat: no-repeat;
		background-position: top center;
		background-size: auto 100%;
		font-size: 62.5%; /* 1em = 10px */
	}

	body {
		font-family: var(--ff-lato);
		font-size: var(--fz-body);
		font-weight: var(--fw-light);
		color: var(--color-text);
	}

	.header {
		padding: 3rem var(--page-margin) 3.5rem;
		margin: var(--section-space) 0;
		background: #fff;
	}

	.header__container {
		max-width: var(--max-width);
		margin: 0 auto;
	}

	.header__title {
		font-family: var(--ff-roboto);
		font-weight: var(--fw-thin);
		font-size: var(--fz-1);
		text-align: center;
		margin-bottom: 3rem;
	}

	.header__subtitle {
		font-size: var(--fz-3);
		font-weight: var(--fw-black);
		text-align: center;
		color: #37b7ec;
		margin-bottom: 3rem;
	}

	.header__infos {
		margin: 0 auto;
	}

	.header__infos__author {
		font-size: var(--fz-3);
		font-weight: var(--fw-light);
		text-align: right;
	}

	.header__infos__date {
		font-size: clamp(1.4rem, calc(1.127rem + 0.727vw), 2rem);
		font-weight: var(--fw-thin);
		text-align: right;
	}

	.main {
		margin: 0 var(--page-margin);
	}

	.section {
		margin-bottom: var(--section-space);
	}

	.section__title {
		font-size: var(--fz-2);
		font-weight: var(--fw-black);
		margin-bottom: var(--title-space);
	}

	.step {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: var(--title-space) auto;

		&.step--default {
			@media (width >= 768px) {
				flex-direction: row;
			}
		}

		&.step--carousel {
			@media (width >= 768px) {
				.text-container {
					width: 60%;

					&:first-child {
						align-self: flex-start;
					}
					&:last-child {
						align-self: flex-end;
					}
				}
			}

			@media (width >= 1000px) {
				.image-container {
					justify-content: center;
				}

				.screenshot {
					height: auto;
					max-height: none;
					width: calc((100% - 3 * var(--page-margin)) / 4);
				}
			}
		}
	}

	.footer {
		padding: var(--box-padding) 0;
		margin: var(--section-space) 0 0;
		background: var(--color-white);

		p {
			display: block;
			width: 100%;
			font-family: var(--ff-roboto);
			font-size: var(--fz-xsmall);
			font-weight: var(--fw-bold);
			text-align: center;
		}
	}
}
